<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(rel="stylesheet", href="/public/css/site.css")
  title Foods
body
  header
    nav
      ul
        li
          a(href="/") Home
        li
          a(href="/recipe/add") Add Recipe
        li
          a(href="/about") About
        li
          a(href="/contact-us") Contact US
          
  main
    block content

  footer
    p &copy; SoftUni