html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0
}

main {
  width: 80%;
  margin: 0 auto;
  min-height: 80%;
}

header, footer {
  padding-left: 10%;
}

nav > li {
  padding-left: 0;
}

nav li {
  display: inline-block;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  margin-right: 20px;
}

footer {
  text-align: center;
}

form input, form textarea {
  padding: 5px;
  min-width: 200px;
}

input[type="submit"] {
  min-width: inherit;
}