.header { background-color: #5555ff; color: white; height: 60px; position: relative; left: 0; top: 0; }
.button { cursor: pointer; display: block; width: 50px; height: 50px; margin: 4px; position: absolute; text-align: center; line-height: 50px; font-size: 24px; }
.title { display: block; position: absolute; left: 80px; font-size: 32px; font-family: "Helvetica", sans-serif; line-height: 60px; }
.drawer { left:0; top:55px; float:left; position: absolute; background-color: #eeeeff; width: 180px; display: none; }
.menu-link { color: black; font-family: "Helvetica", sans-serif; text-decoration: none; font-weight: 600; display: block; padding: 4px; padding-left: 12px; }
.menu-link:hover { : white; background-color: #5555ff; }
.post { margin: 48px; }