extends ../layout.pug

block content
  h2 Add recipe
  form(method="POST", enctype="multipart/form-data")
    label Recipe name:
    br
    input(type="text", name="name")
    br
    br
    label Recipe description
    br
    textarea(name="description")
    br
    label Image
    input(type="file", accept=".png,.jpg,.jpeg" name="recipeImage")
    br  

    input(type="submit" value="Send")