extends ../layout.pug

block content
  h2 Contact us
  form
    label Your name:
    br
    input(type="text")
    br
    br
    label Your message
    br
    textarea
    br
    input(type="submit" value="Send")