<form method="POST" action="/article/add">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" required>
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <div>
      <textarea rows="5" name="content" required></textarea>
    </div>
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
  </div>
</form>